@use 'variables' as *;

@mixin screen($size) {
  @if $size == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  }
  @else if $size == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $size == md {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @else if $size == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $size == xl {
    @media (max-width: $breakpoint-xl) { @content; }
  }
}
